.detailOrder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: auto;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: auto;
    height: auto;
    background-color: rgba(128, 128, 128, 0.11);
    /* border: 2px solid red;
    border-radius: 5px; */
    padding: auto;
    
}


.deleteButton {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.paginaterOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: auto;

}