body{
    background-image:url(../Images/Home.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    align-items: center;
}

/* .formulario{
    width: cover;
    height: 10vh;
    background-color: transparent;
    background-size:cover;
    position: relative;
    top: 20px;
    left: 0px;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 100px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 2px black;
} */



.btnRefresh{
    
    margin-left: center;
    height: 35px;
    border: 2px solid black;
    background-color: rgba(135, 206, 250, 0.685) ;
    border-radius: 50px;
    width: 100px;
    font-size:medium;
    border-width: 2px;
    cursor: pointer;
}

.formbutton{
    margin-left: 0px;  /*desplazar formulario a la izquierda */
    align-items: left;
    width: 200px;
    height: 25px;
    border: 2px solid black;
    background-color: rgba(135, 206, 250, 0.685) ;
    border-radius: 8px;
    font-size:medium;
    border-width: 2px;
    cursor: pointer;
}

.imgNotFound{
    width: 200px;
    height: 200px;
    margin-left: 550px ;
    margin-top: 2px;
    margin-bottom: 30px;
}


.dogNotFpund{
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 2px white;
    font-size: 40px;
    text-align: left ;
    color: rgb(35, 34, 34);
    padding-top: 80px;
    margin-left: 450px ;
    margin-top: 2px;
    margin-bottom: 10px;
}

/*listo*/
.loadingImg{
    width: 250px;
    height: 250px;
    margin-top: 250px;
    margin-bottom: 30px;
    align-items: center;
}

.loading{
    opacity: 100%;
    width: 100%;
    height: 100vh;
    background-size:cover;
    align-items: center;
}
